:root {
  --global-font-size: 1.4rem !important;
  --global-font-size--menu: 1.8rem !important;
  --global-line-height: 1.4em;
  --global-space: 10px;
  --font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
  DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
  serif;
  --mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
  DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
  serif;
  --background-color: #222225 !important;
  --page-width: 60em;
  --font-color: #a7aaad !important;
  --invert-font-color: #222225;
  --secondary-color: #a3abba;
  --tertiary-color: #a3abba;
  --primary-color: green !important;
  --error-color: #62c4ff;
  --progress-bar-background: #3f3f44;
  --progress-bar-fill: #62c4ff;
  --code-bg-color: #3f3f44 !important;
  --input-style: solid;
  --display-h1-decoration: none;
}
@import "terminal.css";
@import "resets";
@import "editor";
@import "terminal";

html{
  margin-top: 0 !important;

  body{

    main{
      --global-font-size--menu: 1.8rem !important;
    }
    ol > li{
      padding-top: 15px;
      padding-bottom: 15px;
    }
    pre {
      background-color: var(--code-bg-color) !important;
      overflow-x: initial;
      code{
        background-color: var(--code-bg-color) !important;
        overflow-x: initial;
      }
    }

    .terminal {
      border-radius:3px;
      color: var(--text);
      display: block;
      font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
      font-size: 1em;
      font-smooth: antialiased;
      line-height: 1.2em;
      padding: 1em;
      position: relative;
      width: 50%;
      margin: 0 auto;
      code {
        display: block;
      }
    }
    .terminal-card {
      header {
        background-color: var(--primary-color) !important;
        color: var(--font-color) !important;
        h2 {
          color: var(--font-color) !important;
          font-size: 1.8rem;
          margin-bottom: 0px;
          text-align: left;
          padding: var(--global-space);
          a{
            color: var(--font-color) !important;
          }
        }
      }
      div > p {
        margin-bottom: 0px;
      }
      margin-bottom: 35px;
    }
    .editor {
      counter-reset: line;
      code:before {
        color: var(--prompt);
        content: counter(line);
        counter-increment: line;
        margin-right: 0.5em;
      }
    }
    .terminal-menu li a:not(.btn){
      color: var(--primary-color);
      font-size: var(--global-font-size--menu);
    }
    .text-left {
      text-align: left !important;
    }
    .text-right {
      text-align: right !important;
    }
    .heart {
      color: green;
      font-size: 1.5em;
    }
  }


}
